[package]
name = "kasa_core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.86"
base64 = "0.22.1"
chrono = "0.4.38"
crossbeam-channel = "0.5.12"
csv = "1.3.0"
dirs = "5.0.1"
fast_image_resize = { version = "4.0.0", features = ["image"] }
human_bytes = { version = "0.4.3", default-features = false } # Don't use SI file size units
humantime = "2.1.0"
image = { version = "0.25.1", features = ["avif-native"] }
imagesize = "0.12.0"
itertools = "0.13.0"
log = "0.4.22"
mime_guess = "2.0.4"
rayon = "1.9.0"
regex = "1.10.5"
serde = { version = "1.0.203", features = ["derive"] }
specta = { version = "=2.0.0-rc.20", features = ["derive"] }
sqlx = { version = "0.7.4", features = [
    "runtime-tokio",
    "sqlite",
    #"derive",
    "json",
    "macros",
] }
strum = { version = "0.26.3", features = ["derive"] }
thiserror = "1.0.62"
tokio = { version = "1.36.0", features = ["full"] }
toml = "0.8.19"
toml_edit = "0.22.20"
#toml_edit = "0.22.16"
walkdir = "2.4.0"
#wl-clipboard-rs = "0.9.0"
xxhash-rust = { version = "0.8.10", features = ["xxh3"] }

[dev-dependencies]
tempfile = "3.12.0"
