[package]
name = "kasa_core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#ffmpeg = { git = "https://github.com/zmwangx/rust-ffmpeg", package = "ffmpeg-next", features = [
#    # "static", # TODO only enable in Android and non-linux systems
#] }
base64 = "0.22.1"
chrono = "0.4.38"
crossbeam-channel = "0.5.12"
csv = "1.3.0"
dirs = "5.0.1"
fast_image_resize = { version = "4.0.0", features = ["image"] }
human_bytes = { version = "0.4.3", default-features = false } # Don't use SI file size units
humantime = "2.1.0"
image = { version = "0.25.1", features = ["avif-native"] }
imagesize = "0.12.0"
img-parts = "0.3.0"
indexmap = { version = "2.5.0", features = ["serde"] }
itertools = "0.13.0"
kamadak-exif = "0.5.5"
log = "0.4.22"
memchr = "2.7.4"
mime_guess = "2.0.4"
nom = "7.1.3"
pest = "2.7.11"
rayon = "1.9.0"
regex = "1.10.5"
serde = { version = "1.0.203", features = ["derive"] }
serde_json = "1.0.127"
specta = { version = "=2.0.0-rc.20", features = ["derive"] }
sqlx = { version = "0.8.2", features = [
    "runtime-tokio",
    "sqlite",
    #"derive",
    "json",
    "macros",
    "migrate", # for testing, no way of adding features for dev-dependencies though 
    # https://github.com/rust-lang/cargo/issues/2911
] }
strum = { version = "0.26.3", features = ["derive"] }
thiserror = "1.0.62"
tokio = { version = "1.36.0", features = ["full"] }
toml = "0.8.19"
toml_edit = { version = "0.22.20", features = ["serde"] }
#wl-clipboard-rs = "0.9.0"
xxhash-rust = { version = "0.8.10", features = ["xxh3"] }
anyhow = "1.0.89"
async-walkdir = "2.0.0"
tokio-stream = "0.1.16"
walkdir = { git = "https://github.com/dbarnett/walkdir/", branch = "lifetimes" }
kasa_python = { workspace = true }

axum = "0.7.5"
tower-http = { version = "0.5.2", features = ["fs"] }


rustpython-vm = { git = "https://github.com/kaanyalova/RustPython.git", branch = "kasa", features = [
    #"encodings",
    "freeze-stdlib",
    #"rustpython-compiler",
    #"importlib",

] }
axum-macros = "0.4.2"


[dependencies.ffmpeg]
git = "https://github.com/zmwangx/rust-ffmpeg"
package = "ffmpeg-next"


[target.'cfg(target_os = "android")'.dependencies.ffmpeg]
git = "https://github.com/zmwangx/rust-ffmpeg"
package = "ffmpeg-next"
features = ["static"]

[dev-dependencies]
tempfile = "3.12.0"
rand = "0.8.5"

[build-dependencies]
num_cpus = "1.16.0"
os_info = "3.8.2"
reqwest = { version = "0.12.9", features = ["blocking"] }
tar = "0.4.43"
xz = "0.1.0"
