node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

dev.db
dev.db*
*.rnote
.env
__dev*
static/testimages
build
TODOS.md
node_modules
kasa_core/*.avif
kasa_cli_utils/*.json
dev.kasa*
danbooru.json
target/
out.txt
default.kasa*
thumbs.kasa*
*.kasa
test_output.txt
bfg-*.jar