
.kasa-theme {
  &.splitpanes .splitpanes .splitpanes__splitter {
    z-index: 1;
  }
  &.splitpanes--vertical > .splitpanes__splitter,
  .splitpanes--vertical > .splitpanes__splitter {
    width: 6px;
    cursor: col-resize;
    position: relative;
    background-color: transparent;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 3px;
      height: 100%;
      transform: translateX(-50%);
      transition: opacity 0.3s;
      background-color: var(--secondary);
      opacity: 0.5;
      z-index: 1;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 6px;
      height: 100%;
      transform: translateX(-50%);
      transition: opacity 0.3s;
      background-color: var(--accent);
      opacity: 0;
      z-index: 1;
    }

    &:hover:after {
      opacity: 1;
    }

    &.splitpanes__splitter__active {
      z-index: 2;
    }
  }
  
}