@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: "Ubuntu";
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}



img {
    -webkit-user-select: none;
    user-select: none;
}

svg {
    display: inline-block;
    margin: 0 auto;
}