@import 'tailwindcss';
@import 'fonts.css';
@import 'colors.css';

@plugin "@iconify/tailwind4";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

html,
body {
	background-color: var(--background);
	margin: 0;
	overflow: hidden;
	font-family: 'Ubuntu';
}

html {
	font-family: 'Ubuntu';
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

img {
	-webkit-user-select: none;
	user-select: none;
}

svg {
	display: inline-block;
	margin: 0 auto;
}
button {
	cursor: pointer;
}

.button.bordered {
	border: 1px solid var(--secondary-alt);
	color: var(--text);
	border-radius: 4px;
}

.button.bordered:hover {
	background-color: var(--secondary-alt);
}

.fancyTagEndShape {
	clip-path: shape(
		from 66.66% 0%,
		curve to 100% 14.29% with 91.33% 2.08%/100% 14.29%,
		vline to 85.71%,
		curve to 66.66% 100% with 100% 85.71%/91.33% 97.92%,
		hline to 0%,
		curve to 31.04% 85.71% with 0% 100%/22.69% 94.29%,
		vline to 14.29%,
		curve to 0% 0% with 22.69% 5.71%/0% 0%,
		close
	);
}
