name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install tauri dev tools
      run: sh <(curl https://create.tauri.app/sh)
    - name: Build
      run: cargo tauri build
    - name: Run tests
      run: cargo test --workspace
