name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install tauri dev tools
      run: cargo install tauri-cli --version "^2.0.0" --locked
    - name: Install bun
      run: |
        curl -fsSL https://bun.sh/install | bash
        source /home/runner/.bashrc  
    - name: Install bun dependencies
      run: bun i 
    - name: Build
      run: cargo tauri build
    - name: Run tests
      run: cargo test --workspace
